.App {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.Todo {
  display: block;
}

.Count {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  font-size: 1rem;
  color: rgb(21, 8, 30);
}

.Buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}

.Button {
  border-radius: 10%;
  border-style: none;
  color: white;
  background-color: rgb(94, 94, 94);
  padding: 8px 15px;
  border-radius: 5px;
  outline: 0;
  border: 0; 
  text-transform: uppercase;
  margin: 10px 0px;
  cursor: pointer;
  box-shadow: 0px 2px 2px lightgray;
  transition: ease background-color 250ms;
  &:hover {
    background-color: rgb(100, 100, 183);
  }
}

.Form {
  border-style: 0.2px solid rgb(250, 130, 130);
  background-color: rgb(255, 255, 255);
  padding: 8px 15px;
  cursor: text;
  width: 200px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
